.travel-header-container {
	box-shadow: 0px 2.98256px 7.4564px rgba(208, 74, 74, 0.5);
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 55px;
	background-color: #F55A5A;
	color: white;
	

	h2 {
		margin-left: 10px;
		font-weight: 400;
	}
}