
.info-container {
	max-width: 317px;
	max-height: 458px;
	margin: 0 auto;
	background-color: #1A1B21;
	text-align: center;

	h1 {
		color: white;
		font-size: 25px;
		
	}

	h4 {
		color: #F3BF99;
		font-size: 13px; 
		font-weight: 400;
	}
	p {
		color: #F5F5F5;
		font-size: 12px;

	}

	button {
		width: 115px;
		height: 34px;
		vertical-align: center;
		border-radius: 6px;
		font-size: 14px;
		line-height: 16px;
	}
	.btn-white{
		margin-right: 8px;
		background-color: #fff;
		border: 1px solid #D1D5DB;
	}
	.btn-blue {
		margin-left: 8px;
		background: #5093E2;
		border: 1px solid #5093E2;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	}
}
