
.interests-container {
	max-width: 317px;
	max-height: 458px;
	margin: 0 auto;
	background-color: #1A1B21;
	color: #F5F5F5;
	padding-bottom: 10px;

	h2 {
		padding-top: 10px;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
	}
	p {
		color: #DCDCDC;
		font-size: 10.24px;
		line-height: 150%;
	}
}

.interests-wrapper {
	max-width: 246px;
	margin: 0 auto;
}